{% extends 'films/layoute.html' %}

{% block title %}
    <title>Movie Catalogue</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Add Movie to Catalogue</h1>
    <div class="card shadow">
        <div class="card-body">
            <h4 class="card-title">Form for Adding a Movie</h4>
            <form method="post" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_title" class="form-label">Title</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    <label for="id_director" class="form-label">Director</label>
                    {{ form.director }}
                </div>
                <div class="mb-3">
                    <label for="id_description" class="form-label">Description</label>
                    {{ form.description }}
                </div>
                <div class="mb-3">
                    <label for="id_budget" class="form-label">Budget</label>
                    {{ form.budget }}
                </div>
                <div class="mb-3">
                    <label for="id_prod_date" class="form-label">Production Date</label>
                    {{ form.prod_date }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add New Movie</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
