{% extends 'films/layoute.html' %}

{% block title %}
    <title>Movie Catalogue</title>
{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Movie Catalogue</h2>
{% if movies %}
    <div class="row">
        {% for movie in movies %}
            <div class="col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">{{ movie.title }}</h4>
                        <p class="card-text"><strong>Director:</strong> {{ movie.director }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ movie.description }}</p>
                        <p class="card-text"><strong>Year of Production:</strong> {{ movie.prod_date }} <span class="budget-info"><strong>Budget:</strong> {{ movie.budget }} million $</span></p>

                        <button class="btn btn-primary" onclick="toggleReviews({{ movie.id }}, true)" id="view-btn-{{ movie.id }}">View reviews</button>
                        <button class="btn btn-secondary" onclick="toggleReviews({{ movie.id }}, false)" id="hide-btn-{{ movie.id }}" style="display: none;">Hide reviews</button>
                        <button class="btn btn-primary" onclick="window.location.href='{% url 'add_review' movie.id %}'">Add review</button>
                        <div id="reviews-{{ movie.id }}" style="display: none;" class="mt-3">
                            <h5>Reviews</h5>
                            <div class="row">
                                {% for review in movie.reviews.all %}
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <p><strong>{{ review.reviewer_name }}</strong>: {{ review.review_text }}</p>
                                                <p>Rating: {{ review.rating }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}<p>No reviews yet.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h4 class="text-center">Catalogue is empty</h4>
{% endif %}

<script>
    function toggleReviews(movieId, showReviews) {
      var reviewsDiv = document.getElementById('reviews-' + movieId);
      var viewButton = document.getElementById('view-btn-' + movieId);
      var hideButton = document.getElementById('hide-btn-' + movieId);

      if (showReviews) {
          reviewsDiv.style.display = 'block';
          viewButton.style.display = 'none';
          hideButton.style.display = 'inline';
      } else {
          reviewsDiv.style.display = 'none';
          viewButton.style.display = 'inline';
          hideButton.style.display = 'none';
      }
    }
</script>

{% endblock %}
