/* Темные стили для header и footer */
.navbar-dark {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}
/* Темный фон для карточек */
.card {
    background-color: #f8f9fa;
}
/* Темный фон для вложенных карточек */
.card .card {
    background-color: #e9ecef;
}

.budget-info {
    margin-left: 40px; /* или padding-left: 20px; */
}